@charset "utf-8";

:root {
    --base-color: black;
    --highlight-color: #888;
    --blockquote-color: #DDD;
    --border: solid 1px black;
    --selection-background: black;
    --selection-text: white;
    --background-color: white;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
}

// variables
$base-font-family: 'IvyPresto Text', serif !default;
$header-font-family: 'Helvetica Neue', sans-serif !default;
$headline-font-family: 'IvyPresto Headline', serif !default;
$code-font-family: 'FiraCode Nerd Font', monospace !default;
$base-font-size: large !default;
$base-line-height: 1.5 !default;

// text styling
html {
    text-size-adjust: none;
    font-size: $base-font-size;
    font-family: $base-font-family;

    @media only screen and (max-width: 500px) {
        font-size: $base-font-size;
    }
}

body {
    background-color: var(--background-color);
    margin: 0px;
    padding: 0;
    color: var(--text-color);
    text-align: left;
    line-height: $base-line-height !important;
}

h1,
h2,
h3 {
    margin: 0px;
    margin-top: 15px;
    font-family: $header-font-family;
    font-weight: bold;
    color: var(--text-color);
    line-height: 1;
}

h4,
h5,
h6 {
    margin: 0px;
    margin-top: 10px;
    font-family: $headline-font-family;
    font-weight: normal;
    color: var(--text-color)
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1rem;
}

.page-header {
    margin-top: 0;
    line-height: normal;
    padding-bottom: 15px;
}

p,
ul,
ol {
    margin: 0px;
    color: var(--text-color);
}

a {
    text-decoration: underline;
    color: var(--link-color);
    transition: color 0.25s, background-color 0.25s;

    &:hover {
        color: var(--background-color);
        background-color: var(--base-color);
    }
}

code {
    font-family: $code-font-family;
    font-size: 16px;
}

// layout
html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

main {
    margin: 30px;
    padding: 30px;
    flex-grow: 1;
    border: var(--border);
}

p {
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    margin-bottom: 15px;
}

hr {
    text-align: center;
    border: none;
    border-top: var(--border);
    margin-block: 15px;
}

img {
    max-width: 100%;
}

blockquote {
    padding: 8px 8px 8px 20px;
    margin-inline: 0px;
    background-color: var(--blockquote-color);
    border-left: 5px solid #999;
}

header {
    flex-shrink: 0;
    border-bottom: var(--border);
    display: flex;
    justify-content: center;
    height: 50px;
    font-family: $header-font-family;

    ul {
        display: flex;
        align-items: center;
        gap: 80px;
    }

    ul>li {
        display: inline;
    }
}

footer {
    flex-shrink: 0;
    border-top: var(--border);
    display: flex;
    justify-content: center;
    height: 50px;
    font-family: $header-font-family;
    font-size: medium;
    width: 100%;

    .unstyled-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-inline: 30px;
    }
}

// highlight, markup
::selection {
    background: var(--selection-background);
    color: var(--selection-text);
}

::-moz-selection {
    background: var(--selection-background);
    color: var(--selection-text);
}

// list styling
ul {
    list-style: "—  " outside;
}

.unstyled-list {
    list-style: none;
    padding-left: 0;
}

.unstyled-list>li {
    list-style: none;

    a {
        text-decoration: none;
        color: var(--text-color);
    }

    a:hover {
        text-decoration: none;
        color: var(--background-color);
        background-color: var(--base-color);
    }
}

// nav menu
// form
input,
select,
textarea {
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}

input[type=text],
select,
textarea {
    width: 100%;
    resize: none;
    background-color: var(--background-color);
    color: var(--text-color);
    caret-color: var(--text-color);
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
}

input,
select,
textarea,
textarea::-webkit-input-placeholder {
    text-indent: 0px;
}

::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--placeholder-color);
}

::-ms-input-placeholder {
    color: var(--placeholder-color);
}

input[type=submit] {
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    cursor: pointer;
    color: var(--link-color);
    background-color: var(--background-color);
}

input[type=submit]:hover {
    color: var(--background-color);
    background-color: var(--base-color);
}

*:focus {
    outline: none;
}

textarea {
    vertical-align: top;
}

// code and syntax highlighting
code {
    padding: 3px 3px;
    border-radius: 4px;
    background-color: var(--blockquote-color);
}

.astro-code {
    border-radius: 4px;
    padding: 8px;
}

.astro-code>code {
    background-color: revert;
    padding: revert;
}