---
import { Image } from 'astro:assets';

import BaseLayout from '@layouts/BaseLayout.astro';
import Granim from '@components/Granim.astro';

import headshot from '@assets/img/headshot.jpg';
import resume from '@public/pdf/Jung_Justin_Resume - v5.pdf';

const onlinePresence = [
    {
        icon: 'fa-solid fa-envelope',
        url: 'mailto:justin@bustinbung.com'
    },
    {
        icon: 'github',
        url: 'https://github.com/bustinbung'
    },
    {
        icon: 'linkedin',
        url: 'https://linkedin.com/in/bustinbung'
    },
    {
        icon: 'instagram',
        url: 'https://instagram.com/bustinbung'
    },
    {
        icon: 'twitter/x',
        url: 'https://twitter.com/bustinbung'
    },
    {
        icon: 'snapchat',
        url: 'https://t.snapchat.com/kR0XK2AW'
    },
    {
        icon: 'youtube',
        url: 'https://www.youtube.com/@bustinbung'
    },
    {
        icon: 'spotify',
        url: 'https://open.spotify.com/user/31ww575syjxqf7h653q36evvbgeu?si=b48408449b544942'
    }
]
---

<BaseLayout pageTitle="about">
    <h2 class="page-header">about</h2>

    <Image src={headshot} alt="Justin's headshot" height=248 />

    <p>Hi, I'm Justin Jung! I'm currently a second-year student at the University of Georgia pursuing a Bachelor of Arts in Entertainment Media Studies with a certificate in New Media and a minor in Music.</p>

    <p>I work primarily as a video editor and motion graphics designer, but do have experience operating cameras and editing sound. I love visual storytelling, and hope I can pursue a career sharing the diverse stories and perspectives of the people around me.</p>

    <p>In my free time, I like to play video games, read, listen to music, and get bubble tea.</p>

    <p>If you'd like to get in touch, feel free to get in contact with me through any of the channels below. Thanks!</p>

    <p>Download Justin's resume here: <a href=`${resume}`>(Jung_Justin_Resume - v5.pdf)</a></p>
    
    <hr>
    
    <h2>online presence:</h2>
    <ul class="unstyled-list">
        {onlinePresence.map(item => 
            <li>
                <a href={item.url} target="_blank" class="icon-link">
                    <i class={item.icon}/>
                </a>
            </li>
        )}
    </ul>

    
</BaseLayout>

<style>
    .page-header {
        margin-top: 0;
        line-height: normal;
    }

    .icon-link:hover {
        color: var(--base-color);
        background-color: var(--background-color);
    }

    .icon-link>i:hover {
        color: var(--background-color);
    }

    img[alt="Justin's headshot"] {
        margin-right: 10px;
        float: left;
    }

    hr {
        border-top: var(--border) !important;
    }

    hr:before {
        content: none !important;
    }
    hr:after {
        content: none !important;
    }
</style>