---
import BaseLayout from "@layouts/BaseLayout.astro";
import Granim from "@components/Granim.astro";
---

<BaseLayout pageTitle="home">
  <Granim />
  <div class='home-wrapper'>
    <h1>hi, i'm justin.</h1>
    <h4>I turn water into films, code, and music.</h4>
  </div>
</BaseLayout>

<style>
  h1 {
    font-size: 3rem;
  }

  h4 {
    color: var(--highlight-color);
    font-weight: lighter;
  }

  h1, h4 {
    text-align: center;
  }

  .home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
</style>