---
import { Image } from 'astro:assets';

interface Props {
    src: ImageMetadata,
    alt: string,
    caption?: string
}

const { src, alt, caption } = Astro.props;
---
<figure>
    <Image {src} {alt} />
    <figcaption>{caption ? caption : alt}</figcaption>
    <dialog closedby="any">
        <button autofocus>x</button>
        <Image {src} {alt} />
    </dialog>
</figure>

<script>
    const figure_images = document.querySelectorAll("figure > img");
    const close_buttons = document.querySelectorAll("dialog > button");

    for (const image of figure_images) {
        image.addEventListener('click', handle_img_click)
    }

    for (const button of close_buttons) {
        button.addEventListener('click', handle_button_click);
    }
    
    function handle_img_click(this: HTMLElement) {
        const dialog_target = this.parentElement!.children[2] as HTMLDialogElement;
        dialog_target.showModal();
    }

    function handle_button_click(this: HTMLElement) {
        const dialog_target = this.parentElement as HTMLDialogElement;
        dialog_target.close();
    }
</script>

<style lang="scss">
    dialog {
        background-color: transparent;
        border: none;
        background-color: transparent;
        opacity: 0;
        transition:
            opacity 0.5s ease,
            display 0.5s ease allow-discrete;

        &[open] {
            opacity: 1;
        }

        &::backdrop {
            background-color: black;
            opacity: 0.75;
        }
    }

    @starting-style {
        dialog[open] {
            opacity: 0;
        }
    }
</style>